.container{
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    color: white;
    background-color: #252525;

}


.backIcon{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transform: rotate(180deg);
}
.statusCount{
    display: flex;
    width: 100%;
    gap: 0.3em;
    width: 100%;
    height: 2px;
}
.statusCountCell{
    display:flex;
    background-color: rgba(235, 232, 232, 0.815);
    width: 100%;
    border-radius: 25px;
    overflow:hidden;
}
.statusPiece{
    display: inline-block;
    height:100%;
    width: 50%;
    background:#8F47EC;
}
.statusCountCell.viewd{
    background-color: #8F47EC

}
.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    padding: 11px;
    gap: 0.6em;
}

.headerInfoContainer{
    display: flex;
    align-items: center;
    width: 100%;
}
.headerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.userPhoto{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.4em;
}
.userPhoto img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.userName{
    opacity: .87;
    font-size: 0.9em;
}
.statusTimestamp{
    font-size: smaller;
    width: 100%;
    opacity: .68;
}

main.statusContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 0.5em;
}

.statusContent img{
    width: 100%;
}

.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: blueviolet;
    padding: 1em;
    padding-top: 2.5em;
    padding-bottom: 1.7em;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 45%, rgba(255,255,255,0) 100%);
}

.statusText{
    margin-bottom: 1.5em;
}
.footer :global(.icon-arrow){
    transform: rotate(-90deg);
    font-size: smaller;
}
.replyText{
    font-size: small;
}