.container{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 0.5fr; 
    grid-template-areas: 
      ". ."
      "tabs tabs"; 
    width: 100%;
    padding:12px 12px 0px 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container h1{
    color: var(--white);
    opacity: .87;
    margin: 0;
    font-size: 20px;
}
.icon{
    display:flex;
    justify-content:center;
    align-items: center;
    width:25px;
    height:25px;
}
.icons{
    justify-self: end;
    display: flex;
    gap: 0.4em;
    color: var(--black);
}
.contextMenu{
    /* background-image: url(../images/ThreeBallsIcon.svg); */
    /* background-size:15%; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    color: var(--black);
    opacity: .87
}
.tabs{
    grid-area: tabs;
    color: var(--black);
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
}
.tab{
    padding: 10px 25px;
    margin: 0;
    position: relative;
    overflow:hidden;
    cursor:pointer;
    font-weight: bold;
    opacity: .78;
    font-size: 0.9em;
    text-transform: uppercase;
}

.tab:first-of-type::after{
    transform: translate(100% , 0);
}
.tab:last-of-type::after{
    transform: translate(-100% , 0);
}


.tab.active::after{
    transform: translate(0 , 0);
}
.tab.active{
    color: var(--primary-bg);
    opacity: 1;
}
.tab::after{
    content:'';
    position: absolute;
    display:inline-block;
    height:4px;
    width: 100%;
    transition:transform .1s ease-in-out;
    bottom: 0;
    right:0;
    background:var(--primary-bg);
}
