.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100px;
    height:140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--box-shadow-1);
    border-radius: 15px;
    padding: 10px;
    position: relative;
}
.container::after{
    content:'';
    position:absolute;
    display:block;
    height:100%;
    width:100%;
    background:linear-gradient(360deg, rgba(0, 0, 0, 0.5) 15.98%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    top: 0;
    border-radius: 15px;


}
.userPhoto{
    width: 100%;
    z-index: 2;
}
.userPhotoRouded{
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    height:25px;
    width:25px;
    overflow:hidden;
}
.userPhoto img{
    width:150%;
    height:110%;
    border: 1px solid rgba(37, 38, 39, 0.3);
}
.name{
    color: var(--white);
    font-size: 12px;
    z-index: 2;
}


