.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    gap: 0.3em 0.2em;
    justify-content:center;
    padding-top:3em;

}


.statusContainer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}